*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: lightpink ;
  background-color: antiquewhite;
}
.background{
  width: 50%;
  height: 100vh;
  position: relative; left: 700px;

}
.AboutMe{
  font-weight: bold;
  position:fixed; left: 60px; top: 100px;
  font-size: larger;
}
div ul li {
 list-style-type: none; 
 width: 100%;
}
.Tech{
  font-weight: bold;
  position:fixed; left: 60px; top: 300px;
  font-size: larger;
}
.Core{
  font-weight: bold;
  position:fixed; left: 60px; top: 500px;
  font-size: larger;
}
.AboutMeParagraph{
  font-weight:500;
  position:fixed; left: 60px; top: 150px;
  font-size:large;
  width: 40%;
}
.TechParagraph{
  font-weight:500;
  position:fixed; left: 60px; top: 350px;
  font-size:large;
  width: 40%;
}
.CoreParagraph{
  font-weight:500;
  position:fixed; left: 60px; top: 550px;
  font-size:large;
  width: 40%;
}

