*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: lightpink ;
  background-color: antiquewhite;
}


.AboutMeParagraph{
  font-weight:500;
  position:fixed; left: 60px; top: 100px;
  font-size:large;
  width: 40%;
}
.Paragraph{
  font-size:large;
  font-weight: 100;
  width: 80%;
  margin-top: 100px;
  text-align: center;
}


.SprintOneHeader{
  font-weight: bold;
  position:fixed; left: 300px; top: 60px;
  font-size: x-large;
}
.SprintTwoHeader{
  font-weight: bold;
  position:fixed; left: 300px; top: 210px;
  font-size: x-large;
}
.SprintThreeHeader{
  font-weight: bold;
  position:fixed; left: 300px; top: 360px;
  font-size: x-large;
}
.SprintFourHeader{
  font-weight: bold;
  position:fixed; left: 300px; top: 510px;
  font-size: x-large;
}
.SprintFiveHeader{
  font-weight: bold;
  position:fixed; left: 300px; top: 660px;
  font-size: x-large;
}


.SprintOneLink{
  font-weight:500;
  position:fixed; left: 300px; top: 100px;
  font-size:large;
  width: 40%;
}
.SprintTwoLink{
  font-weight:500;
  position:fixed; left: 300px; top: 250px;
  font-size:large;
  width: 40%;
}
.SprintThreeLink{
  font-weight:500;
  position:fixed; left: 300px; top: 400px;
  font-size:large;
  width: 40%;
}
.SprintFourLink{
  font-weight:500;
  position:fixed; left: 300px; top: 550px;
  font-size:large;
  width: 40%;
}
.SprintFourLinkTwo{
  font-weight:500;
  position:fixed; left: 300px; top: 600px;
  font-size:large;
  width: 40%;
}
.SprintFiveLink{
  font-weight:500;
  position:fixed; left: 300px; top: 700px;
  font-size:large;
  width: 40%;
}


.milomei{
    width: 35%;
    margin-top: 20px;
    height: 90vh;
    position: relative; left: 900px;
  }
.rusty{
  width: 20%;
  margin-top: 325px;
  height: 45vh;
  position:fixed; left: 150px;
}
.margin{
  width: 35%;
  margin-top: 400px;
  height: 45vh;
  position:fixed; left: 315px;
}


.Home{
  font-weight: bold;
  position:fixed; left: 900px; top: 10px;
  font-size: larger;
}
.Tech{
  font-weight: bold;
  position:fixed; left: 1130px; top: 10px;
  font-size: larger;
}
.Core{
  font-weight: bold;
  position:fixed; left: 1360px; top: 10px;
  font-size: larger;
}
div ul li {
  list-style-type: none; 
  width: 100%;
 }
