*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  color: lightpink ;
  background-color: antiquewhite;
}

h1{
  padding-left: 1%;
}

/*Paragraphs*/

.AboutMeParagraph{
  font-weight:500;
  position:relative; left: 10%; top: 30%;
  font-size:large;
  text-align: center;
  width: 40%;
}
.Paragraph{
  font-size:large;
  font-weight: 100;
  width: 80%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 5%;
}

/*Sprint Headers*/

.SprintOneHeader{
  font-weight: bold;
  position:absolute; left: 20%; top: 10%;
  font-size: x-large;
}
.SprintTwoHeader{
  font-weight: bold;
  position:absolute; left: 20%; top: 30%;
  font-size: x-large;
}
.SprintThreeHeader{
  font-weight: bold;
  position:absolute; left: 20%; top: 50%;
  font-size: x-large;
}
.SprintFourHeader{
  font-weight: bold;
  position:absolute; left: 20%; top: 70%;
  font-size: x-large;
}
.SprintFiveHeader{
  font-weight: bold;
  position:absolute; left: 20%; top: 90%;
  font-size: x-large;
}

/*Sprint Links*/

.SprintOneLink{
  font-weight:500;
  position:absolute; left: 20%; top: 15%;
  font-size:large;
  width: 40%;
}
.SprintTwoLink{
  font-weight:500;
  position:absolute; left: 20%; top: 35%;
  font-size:large;
  width: 40%;
}
.SprintThreeLink{
  font-weight:500;
  position:absolute; left: 20%; top: 55%;
  font-size:large;
  width: 40%;
}
.SprintFourLink{
  font-weight:500;
  position:absolute; left: 20%; top: 75%;
  font-size:large;
  width: 40%;
}
.SprintFourLinkTwo{
  font-weight:500;
  position:absolute; left: 20%; top: 80%;
  font-size:large;
  width: 40%;
}
.SprintFiveLink{
  font-weight:500;
  position:absolute; left: 20%; top: 95%;
  font-size:large;
  width: 40%;
}

/*Pictures*/

.milomei{
  width: 25%;
  height: auto;
  float: right;
  margin: 0 0 2.5% 2.5%;
  }

.rusty{
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 5%
}

.margin{
  max-width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 5%
}

table {
  border:1px solid palevioletred;
  padding: 10px;
}
th, td{
  border:1px solid palevioletred;
  padding: 20px;
}

/*Nav Bar*/

nav ul{
 display:grid;
 grid-template-columns: repeat(4,1fr); 
 font-weight: bold;
 height: 5%;
 padding: 1%
}

 div ul li {
  list-style-type: none; 
  width: 100%;
 }

li {
  list-style-type: none; 
  width: 100%;
 }