*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: lightpink ;
  background-color: antiquewhite;
  overflow: auto;
}
.background{
  width: 80%;
  height: 80vh;
  position: relative; left: 500px;
}
.Story{
  font: weight 100px;
  font-size:smaller;
  width: 100%;
  position: relative; left:250px; top: 100px;
}
.Home{
  font-weight: bold;
  position:fixed; left: 50px; top: 10px;
  font-size: larger;
}
.AboutMe{
  font-weight: bold;
  position:fixed; left: 200px; top: 10px;
  font-size: larger;
}
div ul li {
 list-style-type: none; 
 width: 100%;
}
.Tech{
  font-weight: bold;
  position:fixed; left: 350px; top: 10px;
  font-size: larger;
}
.Core{
  font-weight: bold;
  position:fixed; left: 500px; top: 10px;
  font-size: larger;
}
.margin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
